* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  &::selection {
    background-color: transparent;
    color: #D64045;
  }
}

.main {
  &__header {
    min-height: 7vh;
    width: 100%;
  }
  &__intro {
    min-height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10rem;
    background: linear-gradient(to top, rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url('../img/back.png') center (center/cover) no-repeat;
    h1 {
      color: #fff;
      font-weight: 700;
      font-size: 54px;
    }
    p {
      color: #fff;
    }
  }
  .add {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition-duration: .5s;
    &:hover {
      background-color: #D64045;
      border: 1px solid #D64045;
    }
  }
  &__content {
    padding: 3rem 0 !important;
    .row {
      margin: 0;
    }
    h1 {
      font-weight: 700;
    }
    .card {
      width: 80%;
      margin: 0 auto;
      border: 0;
      .card-header {
        background-color: transparent;
        color: #343a40;
        padding: 1rem 0;
      }
      .card-body {
        padding: 0;
        p {
          padding: 1rem 0;
          margin-bottom: 0;
          span {
            font-weight: bold;
          }
        }
        img {
          width: 100%;
        }
      }
    }
    &_sbk {
      min-height: 70vh;
      color: #fff;
      margin: 5rem 0;
      padding: 0 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: linear-gradient(to top, rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url('../img/back2.png') center (center/cover) no-repeat;
      div {
        width: 70%;
        margin: 2rem;
        h1 {
          color: #D64045;
        }
      }
    }
    &_capabilities {
      padding: 0;
      .col-lg-6 {
        padding: 0;
      }
      .for-personal, .for-uni {
        padding: 0 3rem;
        border-right: 1px solid #343a40;
        text-align: right;
        h1 {
          margin-bottom: 2rem;
        }
        li {
          list-style: none;
          margin-bottom: 1rem;
          span {
            font-weight: 600;
          }
        }
      }
      .for-uni {
        border-right: none;
        text-align: left;
      }
    }
  }
  &__introWS {
    min-height: 93vh;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 0 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to top, rgba(52, 58, 64, 0.7), rgba(52, 58, 64, 0.7)), url("../img/back3.jpg") center (center/cover) no-repeat;
    h1 {
      font-weight: 700;
      font-size: 54px;
    }
  }
  &__contentWS {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343a40;
    div {
      text-align: center;
      h1 {
        font-weight: 600;
        margin-bottom: 2rem;
      }
    }
    &_info {
      button {
        background-color: #D64045;
        border: 1px solid #D64045;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        color: #ffffff;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        transition-duration: .5s;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          border: 1px solid #D64045;
          color: #D64045;
        }
      }
    }
  }
  &__footer {
    background-color: rgba(52, 58, 64, 1);
    min-height: 10vh;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    p, a, li, ul {
      margin-bottom: 0;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style-type: none;
        margin-left: 2rem;
        a {
          color: #fff;
          text-decoration: none;
          transition-duration: .3s;
          &:hover {
            color: #d64045;
          }
        }
      }
    }
  }
}
@media (max-width: 1050px) {
  .main {
    &__content {
      &_capabilities {
        .for-personal {
          text-align: left;
          margin-bottom: 5rem;
          border: 0;
        }
      }
    }
    &__footer {
      flex-direction: column;
      justify-content: space-around;
      min-height: 30vh;
      text-align: center;
      ul {
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}
@media (max-width: 650px) {
  .main {
    h1 {
      font-size: 30px;
    }
    p, li, a {
      font-size: 14px;
    }
    &__intro {
      padding: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 14px;
      }
    }
    &__content {
      &_sbk {
        padding: 0;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 14px;
        }
        div {
          margin-left: 2rem;
        }
      }
    }
    &__footer {
      padding: 1rem 0;
      li {
        margin-left: 0 !important;
      }
    }
  }
}